/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

#define IDS_STRING1 1
#define IDI_ICON1 1

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
//IDI_ICON1 ICON DISCARDABLE "cod4.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_STRING1 "CallofDuty4"
END

1 VERSIONINFO
FILEVERSION 2,7,41491,901
PRODUCTVERSION 2,7,41491,901
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "000004b0"
	{
		VALUE "Comments", "Compute-IaaS-VMAgent master (5f1c32d) Microsoft Azure\xAE"
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "WindowsAzureGuestAgent"
		VALUE "FileVersion", "2.7.41491.901"
		VALUE "InternalName", "WindowsAzureGuestAgent.exe"
		VALUE "LegalCopyright", "Copyright \xA9 Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "WindowsAzureGuestAgent.exe"
		VALUE "ProductVersion", "2.7.41491.901"
		VALUE "Assembly Version", "2.7.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000, 0x04B0  
}
}

